.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/* DETAIL */
.detail{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  padding: 90px 10px 10px;
  width: calc(100% - 20px);
  min-height: calc(70vh - 20px);
}

.detail .detail-view{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 510px;
  padding: 50px 0 0;
  background-color: #ffffff;
  border-radius: 5px;
  

}
.detail .detail-view .image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -80px;
  width: 120px;
  height: 120px;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,.2),
              0 10px 10px rgba(0,0,0,.2);

}

.detail .detail-view .data{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.detail .detail-view .h2{
  text-transform: capitalize;
}

.detail .detail-view .property{
  width: 90%;
  max-width: 400px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.detail .detail-view .left{
  float: left;
}

.detail .detail-view .right{
  float: right;
}


.types .type{background-color: #0a2e50;}
.abilities .ability{background-color: #c73015;}

/* PAGINATION */
.pagination{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;

}

button{
  color: #156f99;
  background: #efefef;
  min-width: 150px;
  border: 0;
  margin: 10px;
  padding: 15px 15px;
  cursor: pointer;

  font-family: 'Acme', arial;
  font-size: 1rem;
  font-weight: normal;
}